@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.img {
  height: 300px;
}
.ytsvg {
  z-index: 20;
}
.apps {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 2rem;
  row-gap: 2rem;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}
.app > img {
  border-radius: 1rem;
  /* box-shadow: #00000033 0px 1px 20px 0px; */
}
.app > a > img {
  height: 60px;
  border-radius: 1rem;
}

.taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.content {
  backdrop-filter: blur(5px);
  width: fit-content;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.left-50 {
  left: 50%;
}
.menubar {
  animation: slideDown 0.5s ease forwards;
  transition: all ease 0.5s;
}
.top-bar {
  width: 100%;
}

/* background */
.bg-img-dark {
  background-image: url("./images/dark.jpeg");
  background-size: cover; /* This will ensure that your image covers the whole area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will position your image in the center */
}
.bg-img-light {
  background-image: url("./images/light.jpeg");
  background-size: cover; /* This will ensure that your image covers the whole area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will position your image in the center */
}

@media (max-width: 770px) {
  .phone {
    display: none;
  }
  .apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    row-gap: 2rem;
  }
  .date {
    display: none;
  }
  .app > img {
    height: 55px;
  }
  .app > a > img {
    height: 55px;
    border-radius: 1rem;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
